<% provide(:title, 'Blogs | La Decks') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- <section class="hero-about"></section> -->

<section>

  <div class="container">
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary mb30" if current_user.try(:admin?)%>

    <div class="row">
    
      <% @blogs.each do |blog| %>
        <div class="col-md-6 mb40">
          <h2 class="mb20"><%= link_to blog.title, blog_path(blog.title_for_slug), class: "textcolor-primary btnblogtitle" %></h2>
          <%= link_to blog_path(blog.title_for_slug) do %> 
            <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive mb20') if blog.images.present?%>
          <% end %>
          <p><%= HTML_Truncator.truncate(blog.content_index, 20).html_safe %></p>
          <div class="mt20">
            <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-default btnblogindex" %>
            <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-default btnblogindex" if current_user.try(:admin?)%>
            <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-default btnblogindex", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
  
</section>
