<% provide(:title, "Blog | #{@blog.title} | La Decks") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blog.meta_description %>">
  <meta name="keywords" content="<%= @blog.meta_keywords %>">
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="mt70 mb0"><%= @blog.title %></h1>
      <p class="small mb30"><%= @blog.pubdate.strftime("%B %d, %Y") if @blog.pubdate.present? %></p>

      <%= image_tag(@blog.images[0].pic.url(:large), class:'img-responsive') if @blog.images.present? %>
      <p class="mt30"><%= @blog.content.html_safe %></p>
      <div class="mt30 mb60">
        <%= link_to 'Back', blogs_path, class: "btn btn-default btnblogindex" %>
        <%= link_to 'Edit', edit_blog_path(@blog.title_for_slug), class: "btn btn-default btnblogindex" if current_user.try(:admin?) %>
      </div>
    </div>
  </div>
</div>
