<% provide(:title, 'About Us | Full-Service Deck Contractors | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="We’ve provided full-service deck, backyard remodeling & pool remodeling in the Los Angeles area for over twenty years. We know how to make your backyard shine.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-about"></section>
<!-- <section class="hero-home"></section> -->


<section class="about-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mb40">About Us</h1>
        <p>L.A. Decks is a full-service, family-owned deck contractor serving the greater Los Angeles area. We understand the complexity the local area presents for outdoor projects in terms of space and geography better than anyone. For more than 18 years, we have been delivering customized solutions that overcome those obstacles. Our team strives to improve the lifestyles of our customers, one project at a time.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary about-victor">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-about-victor.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-sm-6 col-xs-12 mt25">
        <h2>Victor & Noa</h2>
        <p class="textcolor-secondary">As a family-owned business, owners Victor and Noa are heavily involved in every project. They make customer satisfaction a top priority, and it’s for that reason that most of our business comes to us by referral. Regardless of the size of your project, you can always expect the highest level of service from Victor, Noa and the entire L.A. Decks team.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-process">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb40">Our Process</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt20">
        <h3 class="mb20">Concept</h3>
        <p>We believe in a collaborative partnership from start to finish. It begins with a meeting with one of our representatives at the location where work will be completed. After having an in-depth conversation about your wants and needs, the representative will present you with a concept and a free estimate within 48 hours.</p>
      </div>
      <div class="col-md-4 mt20">
        <h3 class="mb20">Design</h3>
        <p>Our designs masterfully mesh your ideas with our expertise. We involve you in the process to ensure what we deliver reflects your needs and tastes, while meeting all safety and municipality standards. All designs are created using 3D software to help you visualize the finished product before providing approval.</p>
      </div>
      <div class="col-md-4 mt20">
        <h3 class="mb20">Development</h3>
        <p>Once approval is received, we bring the design to life with top-grade materials like Trex, Azek, Timber Tech, Goshen, and Ipe. Every project is completed with unrivaled efficiency and without sacrificing quality. Upon completion, we are confident that you will refer us to family and friends.</p>
      </div>
    </div>
  </div>
</section>
