<% provide(:title, 'Contact Us | Backyard and Pool Remodeling in Los Angeles | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Ready to take on your next LA deck or backyard project? We offer free on-site consultations. Contact us today.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-contact"></section>
<!-- <section class="hero-home"></section> -->



<section class="contact-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mb40">Ready to take on your next project?</h1>
        <p class="textcolor-third">Whether you're in need of design and construction or a new deck, or simply have questions about deck maintenace, our skilled team is there to help. Fill out the form below to schedule a free on-site consultation.</p>
      </div>
    </div>
  </div>
</section>

<section class="contact-form bg-primary">
  <%= render 'layouts/service_contact_form' %>
</section>

<section class="contact-location">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h2>Contact Details</h2>
          <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <p>
                Shpigel's DBA LA-Decks
            </p>
            <p>
                <span itemprop="streetAddress">5042 Wilshire Blvd #18607</span><br><span itemprop="addressLocality">Los Angeles</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">90036</span><br>
            </p>
            <p><i class="fa fa-phone"></i> 
                <abbr title="Phone">P</abbr>: (323) 510-7228</p>
            <p><i class="fa fa-phone"></i> 
                <abbr title="Phone">C</abbr>: (310) 904-8626</p>
            <p><i class="fa fa-envelope-o"></i> 
                <abbr title="Email">E</abbr>: <a href="mailto:ladecks@gmail.com" itemprop="email">LAdecks@gmail.com</a>
            </p>
            <p><i class="fa fa-clock-o"></i> 
                <abbr title="Hours">H</abbr>: M-F: 10AM to 7PM</p>
            <p>
          </address>
            Lic. #968237 <br>
            Have full worker's compensation and liability insurance.
          </p>
          <ul class="list-unstyled list-inline list-social-icons">
              <li>
                  <a href="https://www.facebook.com/LADecks/" itemprop="url"><i class="fa fa-facebook-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://twitter.com/ladecks?lang=en" itemprop="url"><i class="fa fa-twitter-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://plus.google.com/+LADecksLosAngeles" itemprop="url"><i class="fa fa-google-plus-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://www.instagram.com/ladecks/" itemprop="url"><i class="fa fa-instagram fa-2x"></i></a>
              </li>
          </ul>
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13221.156176277394!2d-118.339035!3d34.062104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb539daf8b3a71bc3!2sLA-Decks!5e0!3m2!1sen!2sus!4v1498491891102" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
