<% provide(:title, 'Gallery | Explore Backyard and Pool Remodels | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Explore our decks, hillside decks, Deck railings, patio covers, fences and railings, backyard renovations and pool remodels.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-gallery"></section>

<!-- <section class="hero-home"></section> -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>A Look at Our Work</h1>
        <p>When selecting a contractor for your next backyard construction project, it’s important to choose one you can trust. Our process is driven by collaboration, and our lengthy list of successful client projects certainly supports it. Having served the greater Los Angeles area for nearly 20 years, we know how to overcome any challenges presented by the area’s limitations on outdoor space. Our capabilities are incredibly diverse, and quality materials and elite designs are our promise.</p> <br>
        <p>See something you like? Schedule a free consultation to learn how we can make your dream backyard a reality. Whether your outdoor space can best be enhanced by a deck, a pergola, or even something as simple as a barbecue area, our team is here to help.</p>
      </div>
    </div>
  </div>
</section>


<%= render 'layouts/galleries' %>

<%= render 'layouts/service_contact_form' %>