<% provide(:title, 'Backyard Construction Services and Pool Services | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="We provide a large assortment of services including the construction of decks, deck railing, hillside decks, patio covers, fences and pool remodeling in the Los Angeles Area.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>





<!-- Hero  -->
<section class="slide" style="padding:0;">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators" hidden>
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner bkimg" role="listbox">
      <div class="item active">
        <div class="hero-home" style="background-image: url('https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-home.jpg');"></div>
      </div>
      <div class="item">
        <div class="hero-home" style="background-image: url('https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-home-2.jpg');"></div>
      </div>
      <div class="item">
        <div class="hero-home" style="background-image: url('https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-home-3.jpg');"></div>
      </div>
    </div>
  </div>
</section>


<div class="hero-text">
  <a href="#new_contact" class="btn btn-custom-secondary textcolor-primary myhero mb30"><span class="h3 text-uppercase herotexttitle" type="button" itemprop="priceRange">Get a free estimate now</span> <br>
    Make your dream backyard a reality with help from our certified experts.
  </a>
</div>


<div class="container">
  <div class="row">
      <div class="mybox" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <div class="col-md-4 pt60 pl60 pr20 text-center">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-design.jpg" alt="" class="img-responsive" itemprop="url">
          <h3 class="pt25 pb5">Design</h3>
          <p>Our team works closely with you to understand your goals for the project, so that we may develop a design that will meet and exceed them.</p>
          <br>
          <a href="/gallery" class="btn btn-default pl20 pr20">See more</a>
        </div>
        <div class="col-md-4 pt60 pl40 pr40 text-center">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-inspection.jpg" alt="" class="img-responsive">
          <h3 class="pt25 pb5">Inspection</h3>
          <p>We bring a structural engineer and an architect on location as needed to ensure your requests can be implemented in accordance with municipality requirements.</p>
          <br>
          <a href="/gallery" class="btn btn-default pl20 pr20">See more</a>
        </div>
        <div class="col-md-4 pt60 pl20 pr60 text-center">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-construction.jpg" alt="" class="img-responsive">
          <h3 class="pt25 pb5">Construction</h3>
          <p>When the time comes to bring your dream backyard to life, we handle everything from obtaining the construction permit to expertly executing our designs.</p>
          <br>
          <a href="/gallery" class="btn btn-default pl20 pr20">See more</a>
        </div>
      </div>
  </div>
</div>


<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="mb30">Why <span itemprop="name">LA Decks</span>?</h1>
        <p class="mb30" itemprop="description">For nearly 20 years, our team has been helping clients in the greater Los Angeles area create outdoor spaces they want to live in. Every project is driven by client collaboration, resulting in a customized design tailored to your unique needs and style. No matter the size of your project, quality materials and our unwavering commitment are always guaranteed.</p>
        <a href="#new_contact" class="btn btn-lg btn-custom-primary">Get a Free Estimate</a>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/galleries' %>

<section class="certified pt0">
  <div class="container-fluid">
    <div class="row text-center">
      <h2 class="h1 mb50 text-left pl50">Certified by</h2>
      <!-- <div class="col-sm-2 mt5 myp10"></div> -->
      <div class="col-sm-1 mt5 myp10 ml50">
        <a href="https://azek.com/cpg-pro-profile?proid=0015000000o50BQAAY" target="blank"><img src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-certified_01.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
        <a href="https://timbertech.com/cpg-pro-profile?proid=0015000000o50BQAAY"><img src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-certified_02.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
        <a href="/"><img src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-certified_03.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
        <a href="/"><img src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-certified_04.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
        <a href="http://www.trex.com/find-a-contractor/details/?PRO=TC-100084" target="blank"><img src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-certified_05.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-2 mt5 myp10 text-center"><div class="verticalline"></div><hr class="mt30 mb30"></div>
      <div class="col-sm-1 mt5 myp10">
        <a href="https://www.houzz.com/pro/ladecks/la-decks-backyard-and-pool-remodeling" target="blank"><img src="https://s3-us-west-1.amazonaws.com/la-decks/general/best-of-houzz-2017-badge.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
        <a href="https://member.angieslist.com/member/store/6418550" target="blank"><img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-angies-list-130.png" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-1 mt5 myp10">
          <div id="yelp-biz-badge-rrc-TRzLhAweS2q_fpb_i9oUHA"><a href="http://yelp.com/biz/la-decks-los-angeles-4?utm_medium=badge_star_rating_reviews&amp;utm_source=biz_review_badge" target="_blank">Check out LA Decks on Yelp</a></div>    <script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-rrc-TRzLhAweS2q_fpb_i9oUHA";g.src = "//yelp.com/biz_badge_js/en_US/rrc/TRzLhAweS2q_fpb_i9oUHA.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
        </a>
      </div>
      <div class="col-sm-2 mt5 myp10"></div>
    </div>
  </div>
</section>

<section class="testimonial bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-lg hidden-md hidden-sm visible-xs ">
              <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic1" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic1" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p>“ The price is amazing and she was very friendly and she was very professional thank you for stopping by and giving us a nice quote ”</p>
                <h6>- V W, Montebello CA</h6>
              </div>
              <div class="item">
                <p>“ We hired LA Decks to build a deck in our backyard of 300 square feet; we never thought our backyard could look this great. The service we received was professional and LA Decks knew how to work with what we had. Everything went smooth without any issues, we are very happy! We definitely recommend to go with them. ”</p>
                <h6>- Idan B, Irvine CA</h6>
              </div>
              <div class="item">
                <p>“ I had a vision for my deck from a project of a famous architect. After two companies told me that it wouldn't be possible and needed to change my idea, I found LA Decks. They did a great job, exactly as the pictures show. I am so happy I decided to go with LA Decks. It is perfect ! ”</p>
                <h6>- Keren M, Beverly Hills</h6>
              </div>
            </div>
            <div class="hidden-xs">
              <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog pb90 pt0">
  <div class="container">
    <div class="row">
      <h2 class="h1 mb70 text-center">Blog</h2>
      <% @blogs.each do |blog| %>
        <div class="col-sm-4">
          <a href="/blogs/<%= blog.title_for_slug %>"><img src="<%= blog.images[0].pic.url(:medium) %>" alt="" class="img-responsive"></a>
          <a href="/blogs/<%= blog.title_for_slug %>"><h3><%= blog.title %></h3></a>
          <p><%= HTML_Truncator.truncate(blog.content_index, 15).html_safe %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

  <%= render 'layouts/service_contact_form' %>


<%# the following is just to put the address rich snippet on home page so it passes the structured data test on google (hence display:none)  %>
<address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display:none">
  <p>
      Shpigel's DBA LA-Decks
  </p>
  <p>
      <span itemprop="streetAddress">5042 Wilshire Blvd #18607</span><br><span itemprop="addressLocality">Los Angeles</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">90036</span><br>
  </p>
  <p><i class="fa fa-phone"></i> 
      <abbr title="Phone">P</abbr>: (323) 510-7228</p>
  <p><i class="fa fa-phone"></i> 
      <abbr title="Phone">C</abbr>: (310) 904-8626</p>
  <p><i class="fa fa-envelope-o"></i> 
      <abbr title="Email">E</abbr>: <a href="mailto:ladecks@gmail.com" itemprop="email">LAdecks@gmail.com</a>
  </p>
  <p><i class="fa fa-clock-o"></i> 
      <abbr title="Hours">H</abbr>: M-F: 10AM to 7PM</p>
  <p>
</address>


