<% provide(:title, 'Services | Specializing in decks, pool and backyard remodeling in the LA area | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="At LA Decks we offer a wide range of backyard, patio and pool services. This includes full-service backyard construction from decks all the way to fire pits.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-services"></section>
<!-- <section class="hero-home"></section> -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Our Services</h1>
        <p>At L.A. Decks, we offer a wide range of services to create the ultimate backyard experience. We specialize in designing custom decks to fit the needs of our customers, whether that be a hillside, ground level or rooftop deck. Our expertise also stems to railing, with glass, cable and wood options available in a variety of styles. We offer customized solutions for fencing as well, specializing in Ipe and Redwood fences. In addition those these, our team is skilled in building patio covers and pergolas, outdoor kitchens. barbecue areas, and fire pits. Other services include pool remodeling and even installing artificial grass.</p>
        <br>
        <p>If you are ready to achieve the backyard of your dreams, we are here to help. We offer free estimates for every project, where we have the opportunity to get to know you, your needs and your outdoor space. Design, inspection and construction are always included in the quoted price to ensure your project is executed flawlessly.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey ourservices">
  <div class="container">
    <div class="row mb80">
      <div class="col-sm-5 col-xs-12">
        <img alt="GCG Ground" src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-services-design.jpg" class="img-responsive"/>
      </div>
      <div class="col-sm-7 col-xs-12">
      <h3>Design</h3>
        <p class="textcolor-primary">Our team works closely with you to understand your goals for the project, so that we may develop of a design that will meet and exceed them. At the initial meeting, our representative takes note of all your requirements, which will then be relayed to our skilled designers. Throughout the design stage, we may ask additional questions to help us achieve the look you desire. From there, we use 3D software to help you visualize our proposed solution. Our high level of client involvement not only builds trust, but is key for ensuring your satisfaction.
        </p>
      </div>
    </div>

    <div class="row mb80">
      <div class="col-sm-7 hidden-xs">
      <h3>Inspection</h3>
        <p class="textcolor-primary">Outdoor renovation projects in the greater Los Angeles area often come with unique challenges and restrictions, and it is important to work with a contractor who can help you overcome them. One of the ways we do so is by including a free inspection for every project. A structural engineer and an architect are always brought on location when needed to ensure your vision can be implemented in accordance with municipality requirements. More importantly, these licensed professionals will advise our team of any safety concerns so that we may adjust accordingly. 
        </p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <img alt="GCG Ground" src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-services-inspection.jpg" class="img-responsive"/>
      </div>
      <div class="col-xs-12 promise-mobile">
      <h3>Inspection</h3>
        <p class="textcolor-primary">Outdoor renovation projects in the greater Los Angeles area often come with unique challenges and restrictions, and it is important to work with a contractor who can help you overcome them. One of the ways we do so is by including a free inspection for every project. A structural engineer and an architect are always brought on location when needed to ensure your vision can be implemented in accordance with municipality requirements. More importantly, these licensed professionals will advise our team of any safety concerns so that we may adjust accordingly. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <img alt="GCG Ground" src="//s3-us-west-1.amazonaws.com/la-decks/general/la-decks-services-construction.jpg" class="img-responsive"/>
      </div>
      <div class="col-sm-7 col-xs-12">
      <h3>Permitting</h3>
        <p class="textcolor-primary">When the time comes to bring your dream backyard to life, there’s much more to it than expertly executing our designs. Before we can start building a deck or other outdoor structure, we typically must secure permits. We guide you through the process for obtaining any necessary municipal permits, which can take anywhere from one to three months. This includes: coordinating the soil report, providing architectural drawings, engineering, surveying, and even advising you of any city fees that will need to be paid in order to complete your project.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>