<% provide(:title, 'Gallery | Azek Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Azek decks are a beautiful, long-lasting alternative to wood. No more annual staining and sealing. Contact us today for your LA Azek deck design estimate.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-azek-decks"></section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Azek Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Azek decks are regarded for being one of the most beautiful and long-lasting wood alternatives available. Though this product looks and feels just like real wood, it is actually a capped polymer material expertly engineered to stand the test of time. When you choose Azek as your decking material, annual staining and sealing and sealing is a thing of the past, a fact which will save you both time and money over the years. This material is also available in a variety of colors, one of which is sure to mesh with your style. As a testament to its durability, Azek decks are backed by a 30-year warranty.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>
