<% provide(:title, 'Commercial |Commercial Decks Builder in Los Angeles | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Browse our gallery of commercial decks that we have designed and built around Los Angeles. Contact us now for a free estimate.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-commercial-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Commercial Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <!-- <p>Fences are not only decorative, but also an important safety component in any backyard. Before developing a design for your fence, we work closely with you to understand your goals for the project. Whether you’re looking to achieve more privacy, keep your family safe, or simply create a more aesthetically pleasing outdoor space, we can help you achieve it. We carefully develop of a structure that meets your goals, while enhancing the look of your backyard in the process. Our team uses the highest quality of materials to construct every fence, and our designs meet and exceed all safety standards.</p> -->
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>