<% provide(:title, 'Gallery | Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Enhance your outdoor LA living with a customized backyard deck built to your lifestyle & needs. Hillside, ground, or rooftop decks are our specialties.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Decks</h1>
        <p>At L.A. Decks, we believe the best way to enhance outdoor living is with a customized deck, designed with your needs and lifestyle in mind. Though hillside decks are our specialty, our ground level and rooftop decks are equally impressive. We offer free on-site estimates, so that we can truly get a feel for your outdoor space before heading to the drawing board. When the time comes to build, our licensed professionals use the highest quality materials for every project. This ensures your deck is not only built to enjoy, but to last.</p>
      </div>
    </div>
  </div>
</section>

<section class="pt0">
  <div class="container">
    <div class="row pb2">
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-decks-azek-decks.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/azek-decks">
              <span class="myclass azek">Azek Decks</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-decks-ipe-decks.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/ipe-decks">
              <span class="myclass ipe">IPE Decks</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb2">
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-decks-mangaris-decks.png" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/mangaris-decks">
              <span class="myclass mangaris">Mangaris Decks</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-decks-trex-decks.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/trex-decks">
              <span class="myclass trex">Trex Decks</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render 'layouts/service_contact_form' %>