<% provide(:title, 'Gallery | Deck Railings in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Deck railing are a necessity, but they can also be beautiful. We provide glass, cable, and other deck railing options in and around the Los Angeles area.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-deck-railing"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Deck Railings <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Deck railings are a necessity, but that doesn’t mean they can’t also be beautiful. Railings are essential for keeping you, your family and your guests safe when enjoying outdoor living on your new backyard deck. Our designs are crafted to accompany your deck with your needs and preferences in mind, offering a range of both modern and traditional styles. We can advise you on the best option for your situation, whether that be a glass, cable or wood railing. The end result is a piece that not only perfectly complements your deck, but your lifestyle as well.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>
