<% provide(:title, ' Hardscape | Hardscape Designer and Builder in LA | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Rely on our vision and skill to design and install an elegant hardscape to your LA home or backyard. Over 20 years of experience. Free estimates available.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-hardscapes"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hardscapes <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Designing and installing elegant hardscapes takes more than just creativity; it requires vision and skill that can only come from years of experience. Our team has been masterfully executing customized hardscapes for nearly 20 years, and we’re here to help with all of your hardscaping needs. Whether designing a beautiful patio, installing a paved path or driveway, building a charming fireplace, or constructing a wall that completes your outdoor space, quality is our guarantee. We use high quality materials and incorporate proven installation techniques to ensure your expectations are always exceeded.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>