<% provide(:title, 'Gallery | Hillside Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Our experienced LA team will overcome Southern California's engineering challenges to design and build a hillside deck that meets all permit requirements.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-hillside-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hillside Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Southern California is known for its rolling hills, and this terrain can present certain challenges when it comes to deck installation. This terrain presents unique construction challenges, and our experienced team of engineers is skilled in overcoming them. Our team’s expertise extends to more than just design and building. We also guide you through the permitting process for the deck as well. This include everything from getting a soil report, to producing architectural drawings and even working with a professional surveyor. Once the process is complete, you’ll be left with a beautiful deck that not only increases your backyard’s square footage, but the value of your home as well.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>