<% provide(:title, 'Gallery | IPE Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Trust one of California's top IPE deck builders. Low-maintenance, certified IPE is the ideal choice for your residential LA deck. Get a free estimate now.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-ipe-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Ipe Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>L.A. Decks is consistently recognized as one of California’s top Ipe deck builders. Widely used in commercial exterior construction like boardwalks and piers, Ipe has become the ideal choice for residential decks due to its low maintenance, attractive color, and extremely smooth surface that can take whatever nature throws at it. In fact, this Brazillian species of wood is one of the most consistently durable and versatile timbers in the world. We utilize one of just two certified Ipe suppliers for our projects, Iron Woods Ipe Decking. The company’s Ipe is covered by a 25-year warranty and sets the standard for residential and commercial hardwood decking products.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>