<% provide(:title, 'Gallery | Mangaris Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content=" Mangaris offers one of the finest and strongest hardwoods available. Available in many beautiful colors and finishes. Get a free LA area deck estimate now. We offer a wide range of services for your LA backyard including hillside, ground, or rooftop decks and customized fencing, hardscapes, and firepits.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-mangaris-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Mangaris Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>One of the finest hardwoods available, Mangaris™ is one of the strongest on the market due and far less likely to rot than other hardwood products. It is characterized by its incredibly tight interlocked grain and remarkably rich and consistent color. Each of the three Mangaris™ lines are backed by a 20-year warranty against rot and decay. Mangaris™ Red is from the Red Balua specie, offering a beautiful deep red color with qualities similar to Mahogany. Mangaris™ Gold comes from the yellow Balau specie, and has a yellowish-brown color that can include touches of brown or dark red. Mangaris™ Diamond, on the other hand, boasts a stunning yellowish brown that is similar to Ipe. No matter which option you select, a beautiful finish is always guaranteed.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>