<div class="container mt60 mb30">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @deck, url: '/update-image', html: {multipart: true} do |f| %>
        <% if @deck.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(deck.errors.count, "error") %> prohibited this blog from being saved:</h2>

            <ul>
            <% @deck.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <%= hidden_field_tag :deckname, @deck.name %>
        </div>

        <div class="form-group mt30">
          <%= f.label :pic, "Upload Images" %><br>
          <%= file_field_tag 'pics[]', multiple: true %>
        </div>

        <div class="form-group">
          <%= f.button "Submit", class: "form-control btn btn-primary", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> Uploading images..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>


