<% provide(:title, 'Other | Backyard Design Projects in Los Angeles | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Our diverse LA backyard design experience includes outdoor kitchens, barbecue areas, fire pits, and even installing artificial grass. Get a free estimate.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-other-galleries"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Other Projects <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>From the moment we set foot in a backyard, our team is envisioning all of the ways we can help our clients make the most of the space. While decking projects are our specialty, our team’s capabilities go far beyond this area of construction. Our diverse experience includes constructing outdoor kitchens, barbecue areas, fire pits, and even installing artificial grass. Each of these projects takes a great deal of skill to execute, and our team has it. Whatever your needs, you can count on our professional team to fulfill them and make your dream backyard a reality.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>