<% provide(:title, 'Gallery | Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Patio <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>At L.A. Decks, we believe the best way to enhance outdoor living is with a customized deck, designed with your needs and lifestyle in mind. Though hillside decks are our specialty, our ground level and rooftop decks are equally impressive. We offer free on-site estimates, so that we can truly get a feel for your outdoor space before heading to the drawing board. When the time comes to build, our licensed professionals use the highest quality materials for every project. This ensures your deck is not only built to enjoy, but to last.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>