<% provide(:title, 'Gallery | Patio covers in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="Beautiful, high-quality, and functional pergolas and patio covers in the LA area by LA Decks. Get ready to entertain with a free estimate today.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-patio-cover"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Patio Covers <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Our pergolas and patio covers offer an ideal combination of beauty, quality and functionality. Pergolas differ from traditional coverings in that they do not have a roof, but rather a series of posts. The sun is always shining in Southern California, and the shade provided by these elegant coverings is a welcome relief. Whether an addition to your deck or a standalone feature in your backyard, a well designed pergola is the perfect way to make your outdoor space shine and set the perfect stage for entertaining.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>