<% provide(:title, 'Pools | Premiere Pool Builder in LA | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Let the LA Decks team bring your dream pool to life! We develop fully new designs and can remodel existing pools in the LA area. Get your free estimate now.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-pools"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Pools</h1>
        <p>Is a tropical pool what your backyard is missing? If so, you have come to the right place. L.A. Decks is the premier pool builder in Southern California. Our skilled team doesn’t simply bring your dream pool to life, they offer solutions beyond your wildest imagination to create the ideal space for splashing around with family and friends. Our expertise extends to remodeling existing pools as well. When tackling a remodeling process, our designers go far beyond the surface. We work with you to develop a full design that better fits the vision you have for your backyard.</p>
      </div>
    </div>
  </div>
</section>


<section class="pt0">
  <div class="container">
    <div class="row pb2">
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/decks-pools/la-decks-pools-new-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/pools-new">
              <span class="myclass new">New</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/decks-pools/la-decks-pools-remodel-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/pools-remodel">
              <span class="myclass remodel">Remodel</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>