<% provide(:title, 'Gallery | New Pool Builder in LA | LA Decks') %>
<% content_for :head do%>
  <meta name="description" content="Browse our gallery of new pool designs and builds from around the LA area. Contact us today to receive your free quote on your new pool design.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-pools-new"></section>

<% if current_user.try(:admin?) %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Pool-New <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) %></h1>
      </div>
    </div>
  </div>
</section>
<% end %>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>