<% provide(:title, 'Gallery | Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-railing"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Railing</h1>
        <p>Deck railings are a necessity, but that doesn’t mean they can’t also be beautiful. Railings are essential for keeping you, your family and your guests safe when enjoying outdoor living on your new backyard deck. Our designs are crafted to accompany your deck with your needs and preferences in mind, offering a range of both modern and traditional styles. We can advise you on the best option for your situation, whether that be a glass, cable or wood railing. The end result is a piece that not only perfectly complements your deck, but your lifestyle as well.</p>
      </div>
    </div>
  </div>
</section>

<section class="pt0">
  <div class="container">
    <div class="row pb2">
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/decks-railing-glass/la-decks-railing-glass-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/railing-glass">
              <span class="myclass">Glass</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/decks-railing-cable/la-decks-railing-cable-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/railing-cable">
              <span class="myclass">Cable</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/decks-railing-other/la-decks-railing-other-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/railing-other">
              <span class="myclass">Other</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>