<% provide(:title, 'Gallery | Trex Decks in the Los Angeles Area | La Decks') %>
<% content_for :head do%>
  <meta name="description" content="We are a certified supplier of Trex decks and railings in the LA area. This long-lasting wood alternative is available in many colors. Free estimate.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-trex-decks"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Trex Decks <%= link_to "(Add Image)", new_image_path(deckname: @deck.name) if current_user.try(:admin?)%></h1>
        <p>Our company is a certified supplier of Trex decking and railing materials. Decks constructed with this top-rated wood alternative are sure to be conversation starters that require little maintenance. Instead of worrying about things like rotting, splintering and annual painting, you can simply focus on enjoying your fabulous outdoor space. Aside from longevity, one of the biggest benefits to using this material is the wide selection of colors you have to choose from. Our experts can help you decide which of the 18 hues is the right fit for your backyard.</p>
      </div>
    </div>
  </div>
</section>


<section class="images pt0">
  <div class="grid">
    <div class="grid-sizer"></div>
    <% @deck.images.each do |image| %>
      <div class="grid-item">
        <%= image_tag (image.pic.url(:original)) %>
        <% if current_user.try(:admin?) %><p><%= link_to "delete image", delete_image_path(myimage: image.id, mydeck: @deck.id), method: :delete, data: { confirm: 'Are you sure?' } %></p><br><% end %>
      </div>
    <% end if @deck.images.present?%>
  </div>
</section>

<%= render 'layouts/service_contact_form' %>