/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*--------------------------------APPLICATION------------------------------------*/

body {
  background-color:$secondary;
  color:$primary;
  font-family: 'Roboto', sans-serif;
  padding-top:0 
}

img[src="#"] {
   display: none;
}

/*h1, h2, h3, h4, h5, h6 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  color: $primary;
  margin-top: 0;
}
h4, h5 {
  font-size: 34px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}*/

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0px;
  color: $third;
}
address {
    color: #888;
    line-height: 28px;
}
section {
    padding: 100px 0;
}
a:hover {
  color: $fourth;
}
.d-block {
  display: block;
}
 .d-inline {
  display: inline;
 }
.d-inline-block {
  display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
}
h1 {
  margin-bottom: 40px;
}

/*This is due to the negative margin on navbar logo*/
.alert {
  margin-top: 30px;
}

/* ------------------------- Top Navigation --------------------------- */
.top-custom-nav {
  height: 30px;
  position: relative;
  top: 0;
  color: #ffd886;
  background-color: #000000;
  text-align: right;
  padding-right: 100px;
}
.top-custom-nav > a {
  color: #ffd886;
  font-size: 23px;
}


.navigation {
    position: relative;
    background-color: black;
    padding: 0;
    width: 100%;
    margin-bottom: 0px;
}

.navigation img.img-responsive {
  max-width: 191%;
  height: auto;
  margin-top: -20px;
}
a.navbar-brand{
    width: 150px;
    height: auto;
    padding: 0px 0;
    margin: 0 !important;
}
.navbar-nav {
    margin: 7px 15px 20px;
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.navbar-nav > li > a {
    border-bottom: none;
    color: $third;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 15px 0 10px 0;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    margin: 5px 30px;
    &:hover {
     color: white;
     background: transparent;
     -webkit-text-shadow: 1px 0px 0px black;
     -moz-text-shadow: 1px 0px 0px black;
     text-shadow: 1px 0px 0px black;
    }
}

.navbar-toggle {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.minimo .navbar-toggle {
  margin-top: 20px;
}

.navbar-custom {
  font-size:12px;
  border-radius:0;
  margin-bottom:0;
      position: relative;
}

.navbar-custom .navbar-nav > li > a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-toggle .icon-bar {
    background: $third;
}
.navbar-toggle { 
    margin-top: 28px;
}
.barra .nav>li {
    text-align: center;
}
.dropdown-menu.brands {
    left: -18px !important;
}
.dropdown-menu.locations {
    width: 225px;
    left: -35px !important;
}
.dropdown-menu {
    left: -10px !important;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: 300;
    color: #747474;
    &:hover, &:focus {
        text-decoration: none;
        color: #f68655;
        background-color: #f5f5f5;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: none
}






@media only screen and (max-width: 991px) {
  .navbar-nav {
      margin: 5px 15px 0;
  }
  .navbar-nav > li > a {
    margin: 5px 10px !important;
  }
}
@media only screen and (max-width: 767px) {

  .navigation img.img-responsive {
    max-width: 100%;
    margin-top: 0px;
  }
  .top-custom-nav {
    padding-right: 2px;
    line-height: 20px;
  }
  .top-custom-nav > a {
    font-size: 16px;
  }
  a.navbar-brand {
      margin: 0 15px !important;
  }
  .navbar-toggle {
      margin-top: 15px;
      margin-right: 30px;
  }
  .navbar-nav {
      margin: 5px 15px 0;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: transparent;
  }
  ul.dropdown-menu.company, ul.dropdown-menu.brands, ul.dropdown-menu.locations {
      display: none !important;
  }
  .open ul.dropdown-menu.company, .open ul.dropdown-menu.brands,.open ul.dropdown-menu.locations  {
      display: block !important;
  }

  /*---perfect navbar collapse---*/
  .navbar-collapse {
      -webkit-box-shadow: 0px -3px 22px -2px rgba(187,187,187,0.3);
      -moz-box-shadow: 0px -3px 22px -2px rgba(187,187,187,0.3);
      box-shadow: 0px -3px 22px -2px rgba(187,187,187,0.3);
      background: rgba(0,0,0,0.9);
      border-top: none;
      display: auto;
      box-shadow: none !important;
      margin-left: 0;
      margin-right: 0;
      position: absolute;
      top: 50px;
      right: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-align: center;
      width: 100%;
      z-index: 10000;
      padding: 0 30px 10px;
  }

}





/* ---------------------------------------- HERO ---------------------------------------- */
.hero-home, 
.hero-about, 
.hero-gallery,
.hero-services,
.hero-contact, 
.hero-decks,
.hero-azek-decks,
.hero-ipe-decks,
.hero-mangaris-decks,
.hero-trex-decks,
.hero-deck-railing,
.hero-hillside-decks,
.hero-patio-cover,
.hero-commercial-decks,
.hero-fences-and-railing,
.hero-railing,
.hero-railing-glass,
.hero-railing-cable,
.hero-railing-other,
.hero-pools,
.hero-pools-new,
.hero-pools-remodel,
.hero-hardscapes,
.hero-fences,
.hero-other-galleries {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-home.jpg");
  background-size: cover;
  min-height: 500px;
  background-position: 50% 50%;
  position: relative;
} 
.hero-home {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-home.jpg");
  min-height: 700px;
}
.hero-about {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-about.jpg");
}
.hero-services {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-services.jpg");
}
.hero-gallery {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-gallery.jpg");
}
.hero-contact {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/hero/la-decks-contact.jpg");
}
.hero-decks {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-decks/la-decks-decks-background.jpg");
}
.hero-deck-railing {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-railing/la-decks-background-railing.jpg");
}
.hero-hillside-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-hillside/la-decks-hillside-background.jpg");
}
.hero-patio-cover {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-patio/la-decks-patio-background.jpg");
}
.hero-commercial-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-commercial/la-decks-commercial-decks-background.jpg");
}
.hero-fences-and-railing {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-fences/la-decks-fences-background.jpg");
}
.hero-other-galleries {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-other/la-decks-home-other-2.jpg");
}
.hero-azek-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-azek/la-decks-azek-background-slate-gray.jpg");
}
.hero-trex-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-trex/la-decks-trex-background.JPG");
}
.hero-ipe-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-ipe/la-decks-ipe-decks-background.JPG");
}
.hero-mangaris-decks {
  background-image: url("https://s3-us-west-1.amazonaws.com/la-decks/decks-mangaris/la-decks-mangaris-decks.PNG");
}
.hero-pools {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-pools/la-decks-pools-background.jpg");
}
.hero-pools-new {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-pools/la-decks-pools-new-background.jpg");
}
.hero-pools-remodel {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-pools/la-decks-pools-remodel-background.jpg");
}
.hero-railing {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-railing/la-decks-railing-background.jpg");
}
.hero-railing-glass {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-railing-glass/la-decks-railing-glass-background.jpg");
}
.hero-railing-cable {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-railing-cable/la-decks-railing-cable-background.jpg");
}
.hero-railing-other {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-railing-other/la-decks-railing-other-background.jpg");
}
.hero-hardscapes {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-hardscapes/la-decks-hardscapes-background.jpg");
}
.hero-fences {
  background-image: url("//s3-us-west-1.amazonaws.com/la-decks/decks-fences/la-decks-fences-background.jpg");
}

.hero-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 300px;
    width: 100%;
}
.hero-text .btn {
    padding: 15px 30px;
}
.hero-text a{
  color: $primary !important;
  opacity: 0.9;
  &:hover{
    color: $primary !important;
  }
  &:focus{
    color: $primary !important;
  }
}

/*.hero-text h2 {
    color: #fff;
}
.hero-text h2.big, .hero-text h2.medium  {
    font-size: 90px;
    margin:0;
    text-transform: uppercase;
}
.hero-text h2.medium {
    font-size: 50px;
}

.hero-home i {
  margin-top: 120px;
  color: white;
  &:hover{
    color: #f68655;
  }
}*/

@media only screen and (max-width: 991px) {
  .hero-home, 
  .hero-about, 
  .hero-gallery,
  .hero-services,
  .hero-contact, 
  .hero-decks,
  .hero-deck-railing,
  .hero-hillside-decks,
  .hero-commercial-decks,
  .hero-patio-cover,
  .hero-pools,
  .hero-pools-new,
  .hero-pools-remodel,
  .hero-railing,
  .hero-railing-glass,
  .hero-railing-cable,
  .hero-railing-other,
  .hero-hardscapes,
  .hero-fences,
  .hero-fences-and-railing,
  .hero-other-galleries {
      min-height: 500px;
  }
  .hero-text { top: 210px; }
}

@media only screen and (max-width: 767px) {
  .hero-home, 
  .hero-about, 
  .hero-gallery,
  .hero-services,
  .hero-contact, 
  .hero-decks,
  .hero-deck-railing,
  .hero-hillside-decks,
  .hero-commercial-decks,
  .hero-patio-cover,
  .hero-pools,
  .hero-pools-new,
  .hero-pools-remodel,
  .hero-railing,
  .hero-railing-glass,
  .hero-railing-cable,
  .hero-railing-other,
  .hero-hardscapes,
  .hero-fences,
  .hero-fences-and-railing,
  .hero-other-galleries {
      min-height: 400px;
  }
  .hero-home .hero-text { top: 160px; }
  .hero-text .btn { padding: 6px 6px; }
  .myhero {font-size: 10px;}
  .herotexttitle { font-size: 18px; }
}

/* ---------------------------------------- HOME MAIN ---------------------------------------- */


.mybox {
    background-color: $secondary;
    position: relative;
    top: -160px;
    margin-bottom: -160px;
}

.mybox > .col-md-4 {
  margin-bottom: -160px;
  background-color: white;
  display: inline-block;
}

.blog h3 {
  margin-top: 10px;
}

.blog a {
  color: $primary;
  &:hover {
    text-decoration: none;
    color: $primary;
  };
}

@media only screen and (max-width: 991px) {
  .mybox {
    top: 0 !important;
    margin-bottom: 0 !important;
  }
  .mybox > .col-md-4 {
    background-color: white;
    text-align: center;
    padding: 0 !important;
    margin-top: 30px;
    display: none;  /*not showing it for now as i dont think it looks nice */
  }
  .mybox > .col-md-4 img{
    text-align: center !important;
  }
  .mybox .img-responsive {
    width: 100%;
  }
  .main-content {
    padding-top: 80px;
  }
}

hr.mt30.mb30 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .certified .img-responsive {
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .certified h2 {
    text-align: center;
    padding-left: 0px !important;
  }
  .certified .ml50 {
    margin-left: 0px !important;
  }
  .blog .img-responsive {
    width: 100%;
  }
  .blog .col-sm-4 {
    margin-top: 40px;
  }
  .pr1, .pl1, .pb3 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
  }
  .verticalline {
    display: none;
  }
  hr.mt30.mb30 {
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .myhero {
    font-size: 9px !important;
  }
}


/* ------------------------ GALLERY PARTIAL --------------------------- */

.gallery-item {
  position: relative;
}

/*this is the same as the javascript fade in hover, except you can see it and debug when using force element in chrome
.gallery-item:hover {
  .cover-item-gallery {
    display: inline;
  }
}
*/
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.cover-item-gallery {
  background-color: #000;
  position: absolute;
  width: 100%;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  display: none;
}

.cover-item-gallery a {
  display: block;
  width: 100%;
  height: 100%;
}

.cover-item-gallery a span.myclass {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 38px;
  font-weight: bold;
  margin-left: -53px;
  margin-top: -25px;
}

.cover-item-gallery a span.myclass.hillside {
  margin-left: -118px;
}
.cover-item-gallery a span.myclass.mangaris {
  margin-left: -136px;
  font-size: 36px;
}
.cover-item-gallery a span.myclass.trex {
  margin-left: -100px;
}
.cover-item-gallery a span.myclass.azek {
  margin-left: -100px;
}
.cover-item-gallery a span.myclass.ipe {
  margin-left: -91px;
}
.cover-item-gallery a span.myclass.railing {
  margin-left: -60px;
}
.cover-item-gallery a span.myclass.fences {
  margin-left: -65px;
}
.cover-item-gallery a span.myclass.hardscapes {
  margin-left: -107px;
}
.cover-item-gallery a span.myclass.commercial-decks {
  margin-left: -107px;
}
.cover-item-gallery a span.myclass.patio-covers {
  margin-left: -112px;
}
.cover-item-gallery a span.myclass.new {
  margin-left: -45px;
}
.cover-item-gallery a span.myclass.remodel {
  margin-left: -75px;
}


@media only screen and (max-width: 2000px) {
  .cover-item-gallery {
    background-color: transparent !important;
    opacity: 1 !important;
    display: inline !important;
    &:hover {
      background-color: black !important;
      opacity: 0.7 !important;
    };
  }
}

/*-hack for last image-*/

.other-cpu {
  display: none !important;
}

/*for all screen sizes EQUAL or ABOVE 768 follow this rule*/
@media only screen and (min-width: 768px) {
  .other-mobile {
    display: none !important;
  }
  .other-cpu {
    display: inline !important;
  }
}

/* ------------------------ ABOUT PAGE --------------------------- */

.about-victor p {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .victor p {
    padding-top: 30px;
  }
}

.about-process p {
  font-size: 18px;
}

/* ------------------------ SERVICES PAGE --------------------------- */

/* Whe screen size is above this width(768px) it will not be displayed */
@media only screen and (min-width: 768px) {
  .promise-mobile { display: none; }
}

@media only screen and (max-width: 768px) {
  .ourservices h3 { margin-top: 15px; }
}

/* ------------------------ BLOG PAGE --------------------------- */

.btnblogindex {
  background-color: #e6e6e6 !important;
  &:hover {
    background-color: #a9a9a9 !important;
  }
}

.btnblogtitle:hover {
  color: #595959 !important;
  text-decoration: none;
}


/* ------------------------ CONTACT PAGE --------------------------- */

.contact-location .col-md-4 p {
    margin: 7px 0px;
}
.contact-location .col-md-4 a {
    color: black;
    &:hover{
      color: $fourth;
    };
}

/* ------------------------ CONTACT FORM --------------------------- */


.message .form-group {
    margin-bottom: 30px;
}
.message .form-control {
    border: 2px solid $secondary;
    color: #666;
    font-size: 16px;
    height: 50px;
    padding: 10px 15px;
}
.message textarea.form-control {
    height: 80px !important;
    resize: none;
}

.message .btn-xl {
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
    font-size: 20px;
    height: 80px;
    text-transform: uppercase;
    width: 100%;
}
.message .btn-xl:hover {
    background-color: $third;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.form-control::-moz-placeholder {
    color: #ccc;
}

.form-control:focus {
    box-shadow: none;
}


@media only screen and (max-width: 768px) {
  .text-left.center-mobile, .text-right.center-mobile { text-align: center;}
  .text-right.center-mobile { margin: 60px 0 0;}
  .mobile50 { width: 50%;float: left;}
}
@media only screen and (max-width: 520px) {
  .mobile50 { width: 80%;float: inherit; margin: 0 auto 30px;}
}



/* ---------------------------------------- FOOTER ---------------------------------------- */

.img-footer {
  max-width: 24%; 
  min-height: 75px;
  padding: 0 3px;
}

@media only screen and (max-width: 768px) {
  footer .col-sm-2 {text-align: center;}
  footer .col-sm-4 {text-align: center; margin-top: 15px;}
}






/* ---------------------------------------- Masonry js ---------------------------------------- */

/** { box-sizing: border-box; }*/

/* ---- grid ---- */

.grid {
  background: #FFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.3333%;
}

@media only screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}




/* ------------------------ SECTION TESTIMONIAL --------------------------- */
.testimonial .carousel-inner {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.carousel-inner p {
  color: #fff;
}
.carousel-inner h6 {
    font-size: 20px;
    color: #fff;
    margin-right: 30px;
    font-style: italic;
}
.testimonial .carousel-control {
    left: 0px;
    width: 2%;
}
.testimonial .carousel-control.right {
    right:0;
    left: auto;
}
.testimonial .carousel-control .fa-chevron-left, .testimonial .carousel-control .fa-chevron-right {
    top: 30%;
    left: -20px;
    color: #ccc;
}
.testimonial .carousel-control .fa-chevron-right {
    right: 0px;
    left: inherit;
}
.carousel-indicators {
    bottom: -50px;
}


.carousel-control.left, .carousel-control.right {
    background:transparent;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right  {
    position: relative;
    top: 50%;
    font-size: 50px;
    left: -115px;
    text-shadow: none;
    color: #ccc;
}
.carousel-control .fa-chevron-right  {
    right: -115px;
    left: inherit;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}


/* Navigation version 2*/

.navigation {
    position: relative;
    background-color: black;
    padding: 0;
    width: 100%;
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    border-bottom: none;
    color: #d3d3d3;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 15px 0 10px 0;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    margin: 5px 30px;
    &:hover {
     color: white;
     background: transparent;
     -webkit-text-shadow: 1px 0px 0px black;
     -moz-text-shadow: 1px 0px 0px black;
     text-shadow: 1px 0px 0px black;
    }
}


#yelp-biz-badge-rrc-TRzLhAweS2q_fpb_i9oUHA img{
  max-width: 125px;
  height: auto;
  padding-top: 0px;
}

/*@media only screen and (max-width: 480px) {
  #yelp-biz-badge-rrc-TRzLhAweS2q_fpb_i9oUHA img{
    padding-top: 30px;
    max-width: 80px;
    height: auto;
  }
}*/


.certified .img-responsive {
  max-width: 115%;
}

.myp10 {
  padding: 0 10px;
}

.verticalline {
  border-left: thin solid #000000;
  height: 100px;
  margin-left: 90px;  
  margin-top: -12px;
}


/*Fix transition glitch in mobile*/
.carousel-inner.bkimg > .item{
   /*disables white flash*/
   -webkit-transition: all 0s ease-in-out;
   -moz-transition: all 0s ease-in-out;
   -o-transition: all 0s ease-in-out;
   transition: all 0s ease-in-out;
}

.carousel-inner.bkimg{
/*just incase the flash (style above) comes back*/
   background: #000;
}

.g-recaptcha iframe {
  height: 115px;
}