/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Colors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
$primary:black;
$secondary:white;
$third:#747474;
$fourth:#F5C47D;
$color-link:#f68655;

$white:#ffffff;
$blue:#348fe2;
$black:#2d353c;
$purple:#727cb6;
$orange:#f85203;
$yellow:#f59c1a;
$green:#00acac;
$red:#f35958;
$grey:#B3B3B3;
$brown: #836e2e;

/*Light Colors*/
$light-primary:#f8a87e;
$light-secondary:#527481;
$light-third:#527481;
$light-fourth:#527481;

$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#E4E4E4;
$light-orange:#f7ab83;

/*Dark Colors*/
$dark-primary:#df8150;
$dark-secondary:#334850;
$dark-third:#334850;
$dark-fourth:#334850;

$dark-green:#26D26E;
$dark-blue:#2f4050;
$dark-red:#531a1f;
$dark-grey:#777777;
$dark-orange:#fa6132;

$dark-primary:#df8150;
$dark-secondary:#334850;

/*Social Media*/
$facebook:#3c5a99;
$google:#C63D2D;
$instagram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$kijiji:#4c4b6d;
$craigslist:#5D008F;

/* Background Color classes */
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-third{background: $third;}
.bg-fourth{background: $fourth;}
.bg-color-link{background:$color-link;}

.bg-white{background:$white;}
.bg-blue{background: $blue !important;}
.bg-black{background:$black !important;}
.bg-purple{background: $purple !important;}
.bg-orange{background:$orange !important}
.bg-yellow{background:$yellow !important;}
.bg-green{background: $green !important;}
.bg-red{background:$red !important;}
.bg-grey{background:$grey !important}
.bg-brown{background:$brown !important}

.bg-light-green{background:$light-green !important}
.bg-light-blue{background:$light-blue !important}
.bg-light-red{background:$light-red !important}
.bg-light-grey{background:$light-grey !important}
.bg-light-orange{background:$light-orange !important}

.bg-dark-green{background:$dark-green !important}
.bg-dark-blue{background:$dark-blue !important}
.bg-dark-red{background:$dark-red !important}
.bg-dark-grey{background:$dark-grey !important}
.bg-dark-orange{background:$dark-orange !important}

.bg-facebook{background:$facebook !important}
.bg-google{background:$google !important}
.bg-instagram{background:$instagram !important}
.bg-pinterest{background:$pinterest !important}
.bg-linkedin{background:$linkedin !important}
.bg-twitter{background:$twitter !important}
.bg-vimeo{background:$vimeo !important}
.bg-youtube{background:$youtube !important}
.bg-kijiji{background:$kijiji !important}
.bg-craigslist{background:$craigslist !important}

.bg-transparent{background: transparent;}



.textcolor-primary{color: $primary;}
.textcolor-secondary{color: $secondary;}
.textcolor-third{color: $third;}
.textcolor-fourth{color: $fourth;}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Buttons---------------------------------------*/
/*--------------------------------------------------------------------------------------*/


/*.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}*/




/*BOOTSTRAP BUTTONS WITH MY COLORS*/


.btn-custom-primary {
  color:$white !important;
  background-color: $primary;
  border-color: $primary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    /*background-color: $dark-primary ;*/
    background-color: $primary ;
    box-shadow: none !important;
    border-color: $primary;
    opacity: 0.7; /* Added by alex - for this project instead of using the commented darker background color */
  }
}

.btn-custom-secondary {
  color:$white !important;
  background-color: $secondary;
  border-color: $secondary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    /*background-color: $dark-secondary;*/
    box-shadow: none !important;
    background-color: $secondary ;
    box-shadow: none !important;
    border-color: $secondary;
    opacity: 0.7; /* Added by alex - for this project instead of using the commented darker background color */
  }
}

.btn-custom-third {
  color:$white !important;
  background-color: $third;
  border-color: $third;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    /*background-color: $dark-third;*/
    box-shadow: none !important;
    background-color: $third ;
    box-shadow: none !important;
    border-color: $third;
    opacity: 0.7; /* Added by alex - for this project instead of using the commented darker background color */
  }
}

.btn-custom-fourth {
  color:$white !important;
  background-color: $fourth;
  border-color: $fourth;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    /*background-color: $dark-fourth;*/
    box-shadow: none !important;
    background-color: $fourth ;
    box-shadow: none !important;
    border-color: $fourth;
    opacity: 0.7; /* Added by alex - for this project instead of using the commented darker background color */
  }
}



/* NEW BTN ROUNDED BUTTONS WITH MY COLORS */

.btn-custom-primary-border {
  color:$primary;
  background-color: $white;
  border: 2px solid $primary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $primary;
    box-shadow: none !important;
  }
}
.btn-custom-secondary-border {
  color:$secondary;
  background-color: $white;
  border: 2px solid $secondary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $secondary;
    box-shadow: none !important;
  }
}
.btn-custom-third-border {
  color:$third;
  background-color: $white;
  border: 2px solid $third !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $third;
    box-shadow: none !important;
  }
}
.btn-custom-fourth-border {
  color:$fourth;
  background-color: $white;
  border: 2px solid $fourth !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $fourth;
    box-shadow: none !important;
  }
}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Errors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}

.form-group .has-error {
  margin-bottom:6px;
  &.help-block{
    margin-bottom:4px;
  }
}

/*need to finish this up*/
/*#error_explanation {
  background-color: grey;
  border: 2px solid orange;
}
#error_explanation > h2{
  background-color: red;
}
#error_explanation > ul > li{
  background-color: blue;
}*/


/* From Michael Hartl */
/*#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
 }*/



/*
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 100%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
*/


/*--------------------------------------------------------------------------------------*/
/*-----------------------------------h1 to h6 tags-----------------------------------*/
/*--------------------------------------------------------------------------------------*/

/*---default (most browsers)---*/
/*h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}*/




/*---Bootstrap---*/

/*h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}*/




/*---Bootstrap-sass---*/

/*h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}*/




/*--------------------------------------------------------------------------------------*/
/*-----------------------------------Margin & Padding-----------------------------------*/
/*--------------------------------------------------------------------------------------*/
$a:0;
@while $a <= 500{
  // Margin
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px !important;}
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mAll#{$a}{margin: $a*1px !important;}

  // Padding
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important; }
  .pl#{$a}{padding-left: $a*1px !important; }
  .pr#{$a}{padding-right: $a*1px !important; }
  .pAll#{$a}{padding: $a*1px !important;}

// Font size
  .fts#{$a}{font-size: $a*1px !important; }

// Line height
  .lh#{$a}{line-height: $a*1px !important; }

  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}

/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;

