<footer>
  <div class="bg-primary">
    <div class="container pt30 pb30">
      <div class="row">
        <div class="col-sm-2 col-xs-6 text-uppercase">
          <h4 class="h3">Menu</h4>
          <a href="/about-us" class="textcolor-secondary fts12 lh15 d-block">about us</a> 
          <a href="/gallery" class="textcolor-secondary fts12 lh15 d-block">gallery</a> 
          <a href="/services" class="textcolor-secondary fts12 lh15 d-block">services</a> 
          <a href="/blogs" class="textcolor-secondary fts12 lh15 d-block">blog</a> 
          <a href="/contact" class="textcolor-secondary fts12 lh15 d-block">contact</a> 
        </div>
        <div class="col-sm-2 col-xs-6 text-uppercase">
          <h4 class="h3">Gallery</h4>
          <a href="/decks" class="textcolor-secondary fts12 lh15 d-block">deck</a> 
          <a href="/hillside-decks" class="textcolor-secondary fts12 lh15 d-block">hillside decks</a> 
          <a href="/deck-railing" class="textcolor-secondary fts12 lh15 d-block">deck railing</a> 
          <a href="/patio-cover" class="textcolor-secondary fts12 lh15 d-block">patio cover</a> 
          <a href="/fences-and-railing" class="textcolor-secondary fts12 lh15 d-block">Fences & Railing</a> 
        </div>
        <div class="col-sm-2 col-xs-6 text-uppercase">
          <h4 class="h3">Blog</h4>
          <% Blog.last(3).each do |blog| %>
            <a href="/blogs/<%= blog.title_for_slug %>" class="textcolor-secondary fts12 lh15 d-block"><%= blog.title %></a> 
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-6 text-uppercase">
          <h4 class="h3">Social</h4>
          <a href="https://www.facebook.com/LaDecks/" class="textcolor-secondary fts12 lh15 d-block">facebook</a> 
          <a href="https://twitter.com/ladecks?lang=en" class="textcolor-secondary fts12 lh15 d-block">twitter</a> 
          <a href="https://www.instagram.com/ladecks/" class="textcolor-secondary fts12 lh15 d-block">instagram</a> 
          <a href="https://www.pinterest.com/LADecksPins/" class="textcolor-secondary fts12 lh15 d-block">pinterest</a> 
          <a href="https://plus.google.com/b/107927001868971097308/+LADecksLosAngeles?hl=en" class="textcolor-secondary fts12 lh15 d-block">google +</a> 
        </div>
        <div class="col-sm-4 col-xs-12 text-right mt10">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-gold-white-logo.jpg" alt="" style="max-width: 50%; height: auto;" class="mt5">
          <p class="fts11 lh15 textcolor-secondary">Providing professional construction services <br class="break1" /> to homeowners and businesses in SoCal.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center mt30 fts12">Designed by <a href="http://www.keenability.com">Keenability, Inc</a></div>
      </div>
    </div>
  </div>

</footer>
