<section class="images pt0">
  <div class="container-fluid">
    <div class="row pb2">
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-decks.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/decks">
              <span class="myclass">Decks</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-pools.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/pools">
              <span class="myclass">Pools</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-hillside.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/hillside-decks">
              <span class="myclass hillside">Hillside Decks</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb2">
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
            <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-railing.jpg" alt="" class="">
            <div class="cover-item-gallery">
            <a href="/railing">
              <span class="myclass railing">Railing</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-hardscapes-square.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/hardscape">
              <span class="myclass hardscapes">Hardscape</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-fences.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/fences">
              <span class="myclass fences">Fences</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row pb2">
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-patio-covers.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/patio-covers">
              <span class="myclass patio-covers">Patio Covers</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-commercial-decks.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/commercial-decks">
              <span class="myclass commercial-decks">Commercial</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 pl1 pr1">
        <div class="gallery-item">
          <img src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-home-other.jpg" alt="" class="">
          <div class="cover-item-gallery">
            <a href="/other-projects">
              <span class="myclass">Other</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>