<div class="top-custom-nav"><a href="tel:3235107228">Call Us: <span itemprop="telephone">(323) 510-7228</span></a></div>

<!-- Top Navigation  -->
<section class="navigation"> 
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top navbar-custom barra">
      <div class="container">
        <div class="row">
        <div data-scroll-header class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/"><img src="https://s3-us-west-1.amazonaws.com/la-decks/general/ladecks-vertical-logo.jpg" class="img-responsive center-block"/></a> -->
          <a class="navbar-brand" href="/" itemprop="url">
            <img itemprop="logo" src="https://s3-us-west-1.amazonaws.com/la-decks/general/la-decks-gold-white-logo.jpg" class="img-responsive center-block"/>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            
            <ul class="nav navbar-nav navbar-right">                
                <li><a href="/about-us" title="about">About Us</a></li>
                <li><a href="/gallery" title="gallery">Gallery</a></li>
                <li><a href="/services" title="services">Services</a></li>
                <li><a href="/blogs" title="blog">Blog</a></li>
                <li><a href="/contact" title="contact" class="last_nav">Contact</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", :method => :delete %></li>
                <% end %>
            </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</div> 
</section>