<%= form_for Contact.new, :html => { :id => "new_contact" }, :url => {:controller => "contacts", :action => "create"} do |f| %>
  <div class=" control-group">
    <div class="form-group col-xs-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true, data: {validation_required_message: "Please enter your name."} %>
    </div>
  </div>
  <div class=" control-group">
    <div class="form-group col-xs-12">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true, data: {validation_required_message: "Please enter your email."} %>
    </div>
  </div>
  <div class=" control-group">
    <div class="form-group col-xs-12">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number", required: true, data: {validation_required_message: "Please enter your phone number."} %>
    </div>
  </div>
  <div class=" control-group">
    <div class="form-group col-xs-12">
      <%= f.label :message %>
      <%= f.text_area :message, class: "form-control", placeholder: "Message", required: true, rows: 3, data: {validation_required_message: "Please enter your message."} %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group col-xs-12">
      <%= f.submit "Send", class: "btn btn-success btn-lg" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <% flash.each do |key, value|  %>
        <p class="alert alert-<%= key %>"><%= value %></p>
      <% end if flash.present?%>
    </div>
  </div>
<% end %>
