<section class="contact-form bg-primary" id="new_contact">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="mb60 text-center gcg-group">Get a Free Estimate</h2>
          <div class="message">

            <%= form_for Contact.new, :html => { :class => "my_new_contact", :honeypot => true }, :url => {:controller => "contacts", :action => "create"} do |f| %>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :name, class: "sr-only" %>
                <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :email, class: "sr-only" %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :phone_number, class: "sr-only" %>
                <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :message, class: "sr-only" %>
                <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
              </div>
            </div>
            <%= recaptcha_tags site_key: '6LdsRCwUAAAAAOHrOwZVH3ukGtTlir2tus1GLnDx', size: 'compact', ajax: true, class: "pull-right", style: 'margin-right: 10px' %> 

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </section>